$white: #fff;
$primary100: #17696a1f;
$primary: #17696a;
$primary600: #145c5d;
$success: #03cea4;
$lime: #1fdf58;
$danger: #ff4242;
$warning: #f89828;
$yellow: #ffbd00;
$info: #5a87fc;
$gray1000: #14161d;
$gray900: #1e212c;
$gray800: #424551;
$gray700: #787a80;
$gray600: #9a9ca5;
$gray500: #b3b7bc;
$gray400: #d7dadd;
$gray300: #e5e8ed;
$gray200: #f4f5f6;
$gray100: #f9f9f9;
