@import "../../utils/colors/colors.scss";

.footer {
  padding: 60px 0 0;
  background-color: $gray900;
}

.footer__content {
  display: flex;
  justify-content: space-between;

  padding: 0px 17.9% 32px;
  align-items: center;

  color: $white;

  border-bottom: 1px solid rgba($white, 0.5);
  &:first-child {
    align-items: flex-start;
  }

  &:last-child {
    padding-top: 32px;
    border: none;

    font-weight: 700;
    opacity: 0.6;
    & > span {
      opacity: 1;
    }
  }

  cursor: pointer;
}

.footer__copyright {
  & > svg {
    color: $primary;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;

  gap: 8px;
  margin-right: 30px;
  font-size: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__list__item {
  display: flex;
  opacity: 0.6;
  justify-content: space-between;
  font-size: 14px;

  & > strong {
    opacity: 1;
    color: $white;
  }

  & > button {
    margin-right: 5px;
  }
}

.footer__list__title {
  padding: 0;
  margin: 0;

  font-weight: 700;
  text-transform: uppercase;
}
