@import "../../utils/colors/colors.scss";

.tag {
  margin-bottom: 12px;
  padding: 5.5px 16px;
  /* gray/400 */

  border: 1px solid $gray400;
  border-radius: 4px;

  color: $gray700;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  cursor: pointer;

  &:hover {
    background-color: $primary;
    color: $white;
    border-color: $primary600;
  }

  &.active {
    background-color: $primary;
    color: $white;
    border-color: $primary;
  }

  transition: all 0.1s linear;

  user-select: none;
}
